<% content_for :title do %>MQTT<% end %>
<div class="gridster">
  <ul>
    <!-- Meter -->
    <!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity" data-view="Meter" data-title="Humidity" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hallway-doorbell-battery" data-view="Meter" data-title="Hallway Doorbell Battery" data-min="0" data-max="100"></div>
    </li>
    -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity" data-view="Number" data-title="Humidity"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="temperature" data-view="Number" data-title="Temperature"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="voltage" data-view="Number" data-title="Stack Voltage"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="illuminance" data-view="Number" data-title="Ambiance Light"></div>
    </li>
  </ul>

</div>
